{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>Enter otp</title>
{% endblock %}

{% block body %}
 <div class="container">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3 style="color:blue">Enter otp to Reset Password</h3>

                             {% for i in messages %}
                                {{i}}
                            {% endfor %}

                            <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                                {% csrf_token %}

                                <div class="col-md-6 form-group p_star">
                                    <input type="number" class="form-control" id="number" name="number" value=""
                                        placeholder="Enter OTP">
                                </div>
                                <div class="col-md-12 form-group">

                                    <button class="btn btn-primary" style="display:block;width:100%" type="submit" value="submit" class="btn_3">
                                        Confirm OTP
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
</div>

{% endblock %}