{% extends 'profile.html' %}
{% load static %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
             <h3 class="form-control">EmailId</h3>
             <h3 class="form-control">DOB</h3>
             <h3 class="form-control">Education</h3>
             <h3 class="form-control">Current City/Town</h3>
             <h3 class="form-control">Home City/Town</h3>
             <h3 class="form-control">Relationship</h3>
             <h3 class="form-control">Gender</h3>
             <h3 class="form-control">Friend</h3>
        </div>
        <div class="col-lg-6">
            {% if User.img %}
            <img src="{{User.img.url}}" width="35%" class="img-circle">
            {% endif %}
            <h3 style="color:blue">{{User.firstname}} {{User.surname}} <small>   <a href="/editprofile/">Edit</a></small></h3>

            <div class="col-lg-6">
                <h3 class="form-control">{{User.email}}</h3>
                <h3 class="form-control">{{User.dob}}</h3>
                <h3 class="form-control">{{User.qualification}}</h3>
                <h3 class="form-control">{{User.currentTown}}</h3>
                <h3 class="form-control">{{User.HomeTown}}</h3>
                <h3 class="form-control">{{User.relationship}}</h3>
                <h3 class="form-control">{{User.gender}}</h3>
                <h3 class="form-control">{{User.friend}}</h3>
            </div>
        </div>
    </div>

</div>

{% endblock %}