{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
  <title>Profile</title>
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<style>
  p{
    color:blue;
    }

</style>

<nav class="navbar bg-info">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ChatBook</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/profile2/">Profile</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
    </ul>
      <ul>
              <form class="navbar-form navbar-left" action="/action_page.php">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                      </button>
                    </div>
                  </div>
              </form>
      </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
    </ul>
  </div>
</nav>
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-m-16">
      <a href="/profile2/">{{User.firstname}}  {{User.surname}}</a>
    </div>
    <div class="col-lg-6 col-m-16">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if User.img %}
        <img class="img-circle" src="{{User.img.url}}" width="12%">
        {% endif %}
        <input type="text" name="msg" placeholder="What's on your mind..">
        <input type="file" name="img"/>
        <button class="btn btn-primary" style="display:block;width:45%" type="submit">Post</button>
      </form>
      {% for i in Post %}
      {% if i.user.img %}
      <div style="border:2px solid; color:#8ff8ff">
        <p><img class="img-circle" src="{{i.user.img.url}}" width="12%">  <strong style="font-size:20px">{{i.user.firstname}} {{i.user.surname}}</strong><small>  {{i.dt}}</small></p>
        <br>
        <p>{{i.content}}</p>
        {% endif %}
        <hr>
        {% if i.pic %}
        <img src="{{i.pic.url}}" width="100%">
        <hr>
        {% endif %}
        <a  href=""><img src="{% static 'images/like.jpg' %}" width="25%"></a>
        <a  href=""><img src="{% static 'images/comment.png' %}" width="25%"></a>
        <a  href=""><img src="{% static 'images/share.png' %}" width="25%"></a>
      </div>
      <br>
      {% endfor %}
    </div>
    <div class="col-lg-3 col-m-16">
      <h3>Messages</h3>
    </div>
  </div>
</div>

{% endblock %}
</body>

</html>
